
h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification, .info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: none;
}
th, td {
  padding: 8px;
  text-align: left;
}

tr:hover,
.border.row:hover {
  background-color: #cbc9c9;
}

.selected {
  background-color: #d3d3d3;
}

.blog {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 1px;
}

.row {
  display: flex;
  align-items: center;
}

.paragraph {
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.toggle-button {
  border-radius: 5px;
}

.blue-button {
  background-color: lightskyblue;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
}

.list-no-style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #d7d2d2;
}

nav ul li {
  display: inline;
}

nav ul li a, nav ul li div {
  display: block;
  color: rgb(165, 16, 86);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #cec8c8;
}

